<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="test for admin">
        <classes>
            <class name="com.fnb.web.admin.tests.login.LoginTest"/>
        </classes>
    </test>
    <test name="test for Store Web">
        <classes>
            <class name="com.fnb.web.admin.tests.login.LoginTest"/>
        </classes>
    </test>
</suite>